#headerInfo{
	float: right;
	font-size: 18px;
}

#header{
	padding: 1px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	border-bottom: grey 1px solid;
}

div.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
}

div.tab a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}
/* above are common css elements between all pages, refactor later*/

#catchphrase{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	margin: 15px;
	text-align: center;
}

#SME, #Individual{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: white;
	width: 50%;
	height: 20em;
}

#SME{
	background-color: green;

	float:left;
}

#Individual{
	background-color: blue;
	float:right;
}

.button{
	background-color: black;
	padding: 5px;
	margin: auto;
	margin-top: 15px;
	width:25%;
}

#plans h1, #plans h3{
	padding: 0px;
	margin: auto;
	margin-top: 30px;
}

#plans h1{
	width: 50%;
}

#plans h3{
	width: 35%;
}

#orientation img, #supporters img, #reviews img, #footer img, #disclaimer img{
	display: block;
    margin: auto;
	width: 70%;
}

#supporters{
	padding: 3em;
}

#reviews{
	background-color: #ccdce3;
}

#footer{
	background-color: #4d4d4d;
}

#disclaimer{
	background-color: #666;
}