#headerInfo{
	float:right;
}

#moreDetails, #Comparison, #filter, #comparisonTool, #header, .plan, .choice{
		border: grey solid 1px;
}

#footer{
	background-color: #4d4d4d;
}

#disclaimer{
	background-color: #666;
}

#orientation img, #supporters img, #reviews img, #footer img, #disclaimer img{
	display: block;
    margin: auto;
	width: 70%;
}

/* above are common css elements between all pages, refactor later*/

#details, #order{
	border: solid black 1px;
}

#header{
	padding: 10px;
	font-size: 25px;
}

#Comparison{
	margin: auto;
	margin-top: 2em;
	width: 50%;
	height: 50em;

}

#options{
	margin: auto;
	margin-top: 2em;
	width: 75%;
	height: 50em;
}

.plan{
	background-color:white;
	padding: 5px;
	margin: auto;
	height: 20em;
	margin-bottom: 1em;

}

.plan img{
	height: 80px;
	width: 130px;
	margin: 1em;
	float: left;
}

#list{
	margin-left: 1em;
	float: left;
	width: 58%;
}
#filter{
	float:left;

	width: 23%;
	height: 30em;
}

#backButton{
	padding: 5px;
	color: white;
	background-color: black;
	font-size: 20px;
}

#comparisonTool{
	float:right;
	width: 75%;
	height: 10%;
	margin: auto;
	position: fixed;
    bottom: 0px;
	background-color: white;
}

table{
	clear: both;
}

 table, th, td{
	border: solid black 1px;
	border-collapse: collapse;
	margin: 1em;
	text-align: left;
	padding: 5px;
}

#Comparison table{
	height: 75%;
	margin: auto;
	margin-top: 5%;
}

#Comparison th{
	 width: 25%;
	 margin: auto;

 }

#filterTitle{
	border-bottom: 1px black solid;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
}

.title{
	width: 10%;
}

.data{
	width: 20%;
}

#CompareButton{
	position: absolute;
	bottom: 30%;
	left: 92%;
}

.seePlan, #CompareButton, .addToComparison{
	float: right;
	background-color: green;
	color: white;
	padding: 10px;
	margin-right: 3px;
}

#Comparison .seePlan{
	text-align: center;
	float: none;
	margin: auto;
}

.choice, #comparisonTool > p{
	width: 20%;
	height: 75%;
	float: left;
	margin: 1em;
	bottom: 30%;
}

.choice p{
	margin: auto;
	text-align: center;
	width: 82%;
	float:left;
	padding-top: 8%;
	height: 100%;
	font-size: 120%;
}

.clearChoice{
	border: grey solid 1px;
	float: right;
	text-align: center;
	padding-top: 10%;
	width: 10%;
	height: 100%;
}

.clearChoice:hover{
	border: grey solid 1px;
	background-color: grey;
}

.plan img{
	height: 80px;
	width: 130px;
	margin: 1em;
	float: left;
}

