#headerInfo{
	float:right;
}

#header{
	padding: 10px;
	font-size: 25px;
	border-bottom: grey 1px solid;
}

/* above are common css elements between all pages, refactor later*/

#details, #order{
	float: left;
	padding: 1em;
}

#details{
	border: solid grey 1px;
	width:  55%;
	height: 20em;
	overflow: hidden;
	font-size: 25px;

}

#details > ul{
	margin: 2em;
	margin-top: 0.5em;
}

#order{
	width: 15%;
	height: 25em;
	margin: 0.5em;
}

#overview{
	margin: auto;
	margin-top: 2em;
	width: 60%;
	height: 50em;
}

#order img{
	height: 80px;
	width: 130px;
	margin: 1em;
	float: left;
}

#list{
	margin-left: 1em;
	float: left;
	width: 58%;
}

#backButton{
	padding: 5px;
	color: white;
	background-color: black;
	font-size: 20px;
}

#checkout{
	position: relative;
	bottom: -30%;
	text-align: center;
	margin: auto;
	width: 60%;
	background-color: green;
	color: white;
	padding: 10px;
}

#tabs{
	float:left;
	
	margin-top: 1em;
	width: 10em;
}

.tab{
	border: 1px grey solid;
	padding: 3px;
	margin: 3px;
	margin-right: 0;
}

#tabs input{
	display: none;
}